trigger:
- develop
- release/*

variables:
  buildConfiguration: 'Release'
  
stages:
- stage: 'Build'
  displayName: 'Build the web application'
  jobs: 
  - job: 'Build'
    displayName: 'Build job'
    pool:
      vmImage: 'ubuntu-16.04'
      demands:
       - npm

    variables:
      wwwrootDir: 'wwwroot'
      
    steps:
    - script: echo build
        
  - job: 'RunUnitTest'
    displayName: 'Unit Test & Coverage Job'
    
    steps:
    - script: echo unit test

- stage: 'DeployDev'
  displayName: 'Deploy application in dev env'
  jobs: 
  - deployment: 'DeployDev'
    displayName: 'Deploy Dev'
    environment: 'Desarrollo'
    condition: |
      and(
      succeeded(),
      ne(variables['Build.Reason'], 'PullRequest'),
      eq(variables['Build.SourceBranchName'], 'develop')
      )
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo Deploy in Develop environment

- stage: 'DeployRelease'
  displayName: 'Deploy application in qa env'
  jobs: 
  - deployment: 'DeployQa'
    displayName: 'Deploy Qa Env'
    environment: 'Calidad'
    condition: |
      and(
      succeeded(),
      ne(variables['Build.Reason'], 'PullRequest'),
      startsWith(variables['Build.SourceBranchName'], 'release')
      )
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo Deploy in Qa environment

  - job: 'RunFunctionalTest'
    displayName: 'Functional test & verify Quality Gates'
    
    steps:
    - script: echo functional test
    - script: echo Verify Quality Gates

  - deployment: 'DeployPrd'
    displayName: 'Deploy Prd Env Job'
    environment: 'Produccion'
    condition: |
      and(
      succeeded(),
      ne(variables['Build.Reason'], 'PullRequest'),
      startsWith(variables['Build.SourceBranchName'], 'release')
      )
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo Deploy in Prd environment
